<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SIPEG</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>
<body>
	<tbody>
		<tr th:each="jabatan,iterationStatus : ${datajabatan}">
			<h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"> </h3>
			<td th:text="${jabatan.nama}"></td>
			<br>
			<td th:text="${jabatan.deskripsi}"></td>
			<br>
			<td th:text="${jabatan.listPegawai.size()}"></td>
			<br>
			<td th:text="${jabatan.gaji_pokok}"></td>
			<br><br>
		</tr>
	</tbody>
	<form th:action="@{/jabatan/ubah}" class="form-inline" method="GET">
		<input type="hidden" th:value="${datajabatan.id}" name="idJabatan"></input>
		<button class="btn btn-alert mb-2" type="submit">Ubah</button>
	</form>
	<form th:if="${datajabatan.listPegawai.isEmpty()} == true"  th:action="@{/jabatan/hapus}" class="form-inline" method="POST">
		<input type="hidden" th:value="${datajabatan.id}" name="idJabatan"></input>
		<button class="btn btn-danger mb-2" type="submit">Hapus</button>
	</form>
</body>

</html>