<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" ></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid">
		<h2 th:text="'Lihat Data Pegawai (' + ${datapegawai.nip} + ')'"> </h2>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<form th:action="@{/pegawai/view}" method="GET">
						<div class="card-body">
							<table style="width:100%">
							<tr>
							  <tr>
							    <th>NIP</th>
							    <td th:text="${datapegawai.nip}"></td>
							  </tr>
							  <tr>
							    <th>Nama</th>
							    <td th:text="${datapegawai.nama}"></td>
							  </tr>
							  <tr>
							    <th>Tempat Lahir</th>
							    <td th:text="${datapegawai.tempat_lahir}"></td>
							  </tr>
							  <tr>
							    <th>Tanggal Lahir</th>
							    <td th:text="${datapegawai.tanggal_lahir}"></td>
							  </tr>
							  <tr>
							    <th>Tahun Masuk</th>
							    <td th:text="${datapegawai.tahun_masuk}"></td>
							  </tr>
							  <tr>
							    <th>Nama Instansi</th>
							    <td th:text="${datapegawai.instansi.nama} + ' - ' + ${datapegawai.instansi.provinsi.nama}"></td>
							  </tr>
							  <tr>
							    <th>Jabatan</th>
							    <ul>
							    <td th:each="jabatan,iterationStatus : ${jabatanPegawai}">
									<li th:text="${jabatan.nama}"></li>
								</td>
								</ul>
							  </tr>
							  <tr>
							    <th>Gaji</th>
							    <td th:text="${gajiPegawai}"></td>
							  </tr>
							</table>
							<br>
							<tr>
								<td> <a th:href="@{/pegawai/ubah(nip=${datapegawai.nip})}" class="btn btn-warning">Ubah</a> </td>
							</tr>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>