<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div id="Content" class="container-full-bg">
	        <h2 th:text="'Cari Pegawai'"></h2>
			<form th:action="@{/pegawai/cari}" method="GET">
				<table class="table">
					<tbody>
						<tr>
							<td th:text="'Provinsi'"></td>
					 		<td>
				 				<select class="form-control" name="idProvinsi" id="provinsi"/>
				 					<option disabled="disabled" selected="selected" >Provinsi</option>
									<option th:each="provinsi : ${pegawaiByProvinsi}"
									th:value="${provinsi.id}"
									th:text="${provinsi.nama}"></option>
				 				</select>
					 		</td>
						</tr>
						<tr>
							<td th:text="'Instansi'"></td>
							<td>
								<select class="form-control" name="idInstansi" id="instansi" style="display:none"/>
									<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
								</select>
				 				<select class="form-control" name="idInstansi" id="instansiAsli"/>
				 					<option disabled="disabled" selected="selected" >Instansi</option>
									<option th:each="instansi : ${datainstansi}"
									th:value="${instansi.id}"
									th:text="${instansi.nama}"></option>
				 				</select>
					 		</td>
						</tr>
						<tr>
							<td th:text="'Jabatan'"></td>
							<td>
				 				<select class="form-control" name="idJabatan"/>
				 					<option disabled="disabled" selected="selected" >Jabatan</option>
									<option th:each="jabatan : ${listjabatan}"
									th:value="${jabatan.id}"
									th:text="${jabatan.nama}"></option>
				 				</select>
					 		</td>
						</tr>
					</tbody>		
				</table>
				<button type="submit" class="btn-primary btn">Cari</button>
			</form>
			<hr>
	    </div>
	        
</body>
</html>